/*Start N64 Styling*/
.controller.custom {
    background: url(Https://techmandylan.github.io/GBA.png);
    height: 547px;
    width: 967px;
}

.custom .bumpers{
    position: absolute;
    height: 314px;
    width: 778px;
}
/*L Button*/
.custom .bumper{
    top: 25px;
    left: 35px;
    height: 82px;
    width: 185px;
    background: url(https://techmandylan.github.io/GBA_Left_Bumper.png);
    display: block;
    position: absolute;
}
/*R Button*/
.custom .bumper.right{
	top: 25px;
    left: 782px;
    height: 82px;
    width: 185px;
    background: url(https://techmandylan.github.io/GBA_Right_Bumper.png);
    display: block;
    position: absolute;
}

.custom .triggers{
    position: absolute;
    height: 314px;
    width: 778px;
}
/*Z Trigger*/
.custom .trigger.left{
    top: 211px;
    left: 490px;
    height: 89px;
    width: 52px;
    background: url(https://techmandylan.github.io/UltraMiniButtons.png);
    display: block;
    position: absolute;
	background-position-y: -184px;
}

.custom .dpad{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 162px;
    left: 76px;
}

.custom .dpad .face{
    background: url(https://techmandylan.github.io/UltraMiniButtons.png);
    height: 64px;
    width: 44px;
    background-position-y: -276px;
    display: block;
    position: absolute
}

.custom .dpad .face.up{
    left: 32px
}


.custom .dpad .face.down{
    transform: rotate(180deg);
    left: 32px;
    top: 65px
}

.custom .dpad .face.left{
    transform: rotate(-90deg);
    top: 33px
}

.custom .dpad .face.right{
    transform: rotate(90deg);
    top: 33px;
    left: 64px;
}

/* Start button */
.custom .meta{
    background: url(https://techmandylan.github.io/UltraMiniButtons.png);
    width: 61px;
    height: 61px;
    background-position-y: -393px;
    position: absolute;
    left: 360px;
    top: 58px
}

.custom .abxy{
    position: absolute;
    top: 26px;
    left: 593px
}

.custom .abxy .button{
    width: 47px;
    height: 47px;
    background-position-y: -344px;
    display: block;
    position: absolute;
}
/* C ↑ button */
.custom .abxy .button.a{
    background: url(https://techmandylan.github.io/GBA_A_Button.png);	
    left: 46px;
    top: 1px;
}
/* C ↓ button */
.custom .abxy .button.b{
    background: url(https://techmandylan.github.io/GBA_B_Button.png);	
    left: 44px;
    top: 92px;
    transform: rotate(180deg);
}

.custom .arrows{
    position: absolute;
    top: 116px;
    left: 513px
}

/* Defining Start and Select */
.custom .back, .custom .start{
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
}
/* Start Button */
.custom .start{
    background: url(https://techmandylan.github.io/GBA_Start_Button.png);
    top: 220px;
    left: 0px
}
/* Select Button */
.custom .back{
    background: url(https://techmandylan.github.io/GBA_Select_Button.png);
    top: 290px;
    left: 0px
}

.custom .button,
.custom .face,
.custom .meta,
.custom .bumper,
.custom .trigger,
.custom .arrows *{
    opacity: 0
}

.custom .pressed{
    opacity: 1
}
/*END N64 Styling*/